<div class="container">
    <div class="gyms-items">
        <% @gyms.each do |gym|%>
            <div class="gyms-item">
            <%= link_to gym.name, gym_path(gym) %>
            <p><%= gym.title %></p>
            </div>
        <% end %>
    </div>
</div>