/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

body {
  padding: 0;
  margin: 0;
  background: #fff;
}

.container {
  width: 100%;
  max-width: 1090px;
  margin-right: auto;
  margin-left: auto;
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

//gyms

//index
.gyms-items {
  float: left;
}

.gyms-item {
  border: 0.5px solid;
  border-color: black;
  border-radius: 3px;
  width: 650px;
  height: 280px;
  margin-bottom: 50px;
}

.gyms-title {
  background-color: rgb(235, 235, 235);
  border-bottom: 1px solid black;
}

.gyms-title a {
  text-decoration: none;
  margin: 5px;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.gyms-item a:hover {
  opacity: 0.5;
}

.gyms-box {
  padding: 20px 20px 0 20px;
  height: 250px;
  overflow: hidden;
}

.gyms-left {
  float: left;
}

.gyms-left img {
  width: 230px;
  height: 160px;
}

.gyms-right {
  width: 350px;
  height: 200px;
  float: right;
}

.gyms-nav {
  text-align: center;
  margin: 20px 0;
  border-top: 1px solid;
  padding-top: 5px;
}
.gyms-nav ul {
  margin: 0;
  padding: 0;
}
.gyms-nav ul li {
  list-style: none;
  display: inline-block;
  width: 18%;
  min-width: 90px;
}
.gyms-nav ul li a {
  text-decoration: none;
  color: #333;
}
.gyms-nav ul li.current a {
  color: #f33135;
}
.gyms-nav ul li a:hover {
  color: #e7da66;
}

//show
.gym-title {
  margin: 30px 0;
  padding: 20px;
}

.gym-content {
  padding: 25px;
  width: 100%;
}

//item_image

.items-content {
  width: 100%;
}

.items-item {
  display: inline-block;
}

.items-item img {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.items-item li {
  list-style: none;
}

//gyms
.tabs {
  width: 100%;
  margin: 10px auto;
  position: relative;
}
.tab-buttons span {
  font: 400 14px "open sans", sans-serif;
  color: #333;
  background: #eee;
  cursor: pointer;
  border-bottom: 2px solid #ddd;
  display: block;
  width: 25%;
  float: left;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.tab-content {
  border-bottom: 3px solid #ddd;
  padding: 15px;
  background: #eee;
  display: inline-block;
  font: 400 13px "open sans", sans-serif;
  color: #333;
  width: 100%;
}
#lamp {
  width: 25%;
  height: 2px;
  background: rgb(255, 0, 0);
  display: block;
  position: absolute;
  top: 40px;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#lamp.content4 {
  left: 75%;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#lamp.content2 {
  left: 25%;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#lamp.content3 {
  left: 50%;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#lamp.content1 {
  left: 0;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

//trainers

.tras-items {
  width: 100%;
}

.tras-item {
  display: inline-block;
  height: 400px;
  width: 310px;
  border: 1px solid;
  border-color: rgb(0, 0, 0);
  margin: 15px 0 0 20px;
}

.tras-box {
  padding: 15px;
  width: 100%;
  height: 100%;
}

.tras-top {
  height: 90px;
  border-bottom: 1px solid red;
}

.tras-left {
  float: left;
  background-color: cadetblue;
}
.tras-left img {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.tras-right {
  float: right;
  height: 70px;
  width: 190px;
  background-color: burlywood;
}

.tras-right a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.tras-right a:hover {
  opacity: 0.5;
}

.tras-middle {
  height: 130px;
  border-bottom: 1px solid red;
}

.tras-bottom {
  height: 130px;
}
