/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

:root {
  --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体",
    "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic",
    YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, "Open Sans", sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.text-center {
  text-align: center;
}

//gyms

//index
.gyms-items {
  float: left;
}

.gyms-item {
  border: 0.5px solid;
  border-color: black;
  border-radius: 3px;
  width: 650px;
  height: 280px;
  margin-bottom: 50px;
}

.gyms-title {
  background-color: rgb(235, 235, 235);
  border-bottom: 1px solid black;
}

.gyms-title a {
  text-decoration: none;
  margin: 5px;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.gyms-item a:hover {
  opacity: 0.5;
}

.gyms-box {
  padding: 20px 20px 0 20px;
  height: 250px;
  overflow: hidden;
}

.gyms-left {
  float: left;
}

.gyms-left img {
  width: 230px;
  height: 160px;
}

.gyms-right {
  width: 350px;
  height: 200px;
  float: right;
}

.gyms-nav {
  text-align: center;
  margin: 20px 0;
  border-top: 1px solid;
  padding-top: 5px;
}
.gyms-nav ul {
  margin: 0;
  padding: 0;
}
.gyms-nav ul li {
  list-style: none;
  display: inline-block;
  width: 18%;
  min-width: 90px;
}
.gyms-nav ul li a {
  text-decoration: none;
  color: #333;
}
.gyms-nav ul li.current a {
  color: #f33135;
}
.gyms-nav ul li a:hover {
  color: #e7da66;
}

//show
.gym-title {
  margin: 30px 0;
  padding: 20px;
}

.gym-content {
  padding: 25px;
  width: 100%;
}

//item_image

.items-content {
  width: 100%;
}

.items-item {
  display: inline-block;
}

.items-item img {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.items-item li {
  list-style: none;
}

//gyms
.tabs {
  width: 100%;
  margin: 10px auto;
  position: relative;
}
.tab-buttons span {
  font: 400 14px "open sans", sans-serif;
  color: #333;
  background: #eee;
  cursor: pointer;
  border-bottom: 2px solid #ddd;
  display: block;
  width: 25%;
  float: left;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.tab-content {
  border-bottom: 3px solid #ddd;
  padding: 15px;
  background: #eee;
  display: inline-block;
  font: 400 13px "open sans", sans-serif;
  color: #333;
  width: 100%;
}
#lamp {
  width: 25%;
  height: 2px;
  background: rgb(255, 0, 0);
  display: block;
  position: absolute;
  top: 40px;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#lamp.content4 {
  left: 75%;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#lamp.content2 {
  left: 25%;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#lamp.content3 {
  left: 50%;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#lamp.content1 {
  left: 0;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

//trainers

.tras-items {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.tras-item {
  height: 400px;
  width: 310px;
  border: 1px solid;
  border-color: rgb(0, 0, 0);
  margin: 15px 10px 0;
  float: left;
}

.tras-box {
  padding: 15px;
  width: 100%;
  height: 100%;
}

.tras-top {
  height: 90px;
  border-bottom: 1px solid red;
}

.tras-left {
  float: left;
  background-color: cadetblue;
}
.tras-left img {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.tras-right {
  float: right;
  height: 70px;
  width: 190px;
  background-color: burlywood;
}

.tras-right a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.tras-right p {
  display: inline-block;
  font-size: 5px;
  margin: 0;
}

.tras-right a:hover {
  opacity: 0.5;
}

.tras-middle {
  padding: 5px 0;
  height: 130px;
  border-bottom: 1px solid red;
}

.tras-bottom {
  height: 130px;
}

.tra-wrapper {
  width: 100%;
}

.tra-profile {
  width: 800px;
  height: 100%;
}

.tra-top {
  margin: 15px 0 0 15px;
  height: 200px;
  width: 100%;
  border-bottom: 1px solid red;
}

.tra-left {
  float: left;
}
.tra-left img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.tra-right {
  float: right;
  height: 200px;
  width: 650px;
}

.tra-middle {
  width: 100%;
  margin: 15px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link.active {
  background-color: #e2e2e2;
  border-bottom: #e2e2e2;
  font-weight: bold;
}

.tab-pane.active .tab-pane-header {
  padding: 2rem;
  background-color: #e2e2e2;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  margin-bottom: 1rem;
}

.tab-pane:first-child .tab-pane-header {
  border-top-left-radius: 0;
}

//home

.home-top img {
  width: 100%;
  height: 500px;
}

// .categories ul {
//   display: flex;
// }
// .categories li {
//   list-style: none;
//   position: relative;
// }

// .categories p {
//   color: white;
//   font-size: 18px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -ms-transform: translate(-50%, -50%);
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   margin: 0;
//   padding: 0;
// }

.category img {
  width: 190px;
  height: 190px;
  object-fit: cover;
}

.category img:hover {
  opacity: 0.5;
}

.heading {
  align-items: center;
  margin: 40px 0;
  font-size: 20px;
}

.cate-tag {
  float: right;
}

.new-gyms-item {
  display: inline-block;
  width: 480px;
  height: 120px;
  background-color: yellow;
  margin: 0 0 20px 0;
  position: relative;
  color: black;
}

.new-gyms-item:hover {
  opacity: 0.6;
  cursor: pointer;
}

.new-gyms-left {
  float: left;
}

.new-gyms-left img {
  width: 150px;
  height: 120px;
}

.new-gyms-title {
  margin: 10px 0 0 20px;
  display: inline-block;
}

.new-gyms-time p {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  margin: 0;
}

.swiper-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
/* 全体のスタイル */
.swiper-wrapper {
  width: 100%;
  height: 250px;
  margin-bottom: 80px;
}
/* 全スライド共通スタイル */
.swiper-slide {
  color: #ffffff;
  width: 200px;
  height: 240px;
  // text-align: center;
  border: 1px solid black;
  // line-height: 250px;
}

.slide-item {
  width: 100%;
  height: 240px;
}

.slide-top {
  height: 110px;
  border-bottom: 1px solid grey;
}
.slide-left {
  float: left;
  margin: 10px;
}

.slide-left img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.slide-right {
  float: right;
  text-decoration: none;
  background-color: greenyellow;
  width: 100px;
  margin-top: 8px;
}

.slide-right p {
  font-size: 7px;
  text-decoration: none;
  display: inline-block;
  margin: 0;
}

.slide-right h6 {
  margin: 0;
}

.star-ave p {
  float: left;
}

//user

.user-profile {
}

.user-img {
  text-align: center;
  margin: 30px 0;
}
.user-img img {
  border-radius: 50%;
  object-fit: cover;
  height: 250px;
  width: 250px;
}

.user-profile {
  text-align: center;
}

.user-tab-buttons span {
  font: 400 14px "open sans", sans-serif;
  color: #333;
  background: #eee;
  cursor: pointer;
  border-bottom: 2px solid #ddd;
  display: block;
  width: 50%;
  float: left;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
#user-lamp {
  width: 50%;
  height: 2px;
  background: rgb(255, 0, 0);
  display: block;
  position: absolute;
  top: 40px;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#user-lamp.content2 {
  left: 50%;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

#user-lamp.content1 {
  left: 0;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
